<div class="customizer-header">
  <div class="theme-title">
    <div>
      <h4>Preview Settings</h4>
      <p class="mb-0">
        Try It Real Time<i class="fa-solid fa-thumbs-up fa-fw"></i>
      </p>
    </div>
    <div class="flex-grow-1">
      <a
        class="icon-btn btn-outline-light button-effect pull-right cog-close"
        id="cog-close"
        (click)="closeCustomizer()"
      >
        <i class="fa-solid fa-xmark fa-fw"></i>
      </a>
    </div>
  </div>
</div>
<div class="customizer-body custom-scrollbar">
  <h6>Unlimited Color</h6>
  <ul class="layout-grid unlimited-color-layout">
    <input
      id="ColorPicker1"
      name="Background"
      type="color"
      value="#7366ff"
      [(ngModel)]="primary"
    />
    <input
      id="ColorPicker2"
      name="Background"
      type="color"
      value="#838383"
      [(ngModel)]="secondary"
    />
    <button
      class="color-apply-btn btn btn-primary text-white"
      type="button"
      (click)="applyColor()"
    >
      Apply
    </button>
  </ul>
</div>
