<div class="customizer-header">
  <div class="theme-title">
    <div>
      <h4>Preview Settings</h4>
    </div>
    <div class="flex-grow-1">
      <a
        class="icon-btn btn-outline-light button-effect pull-right cog-close"
        id="cog-close"
        (click)="closeCustomizer()"
      >
        <i class="fa-solid fa-xmark fa-fw"></i>
      </a>
    </div>
  </div>
</div>
<div class="customizer-body custom-scrollbar">
  <h6>Layout Type</h6>
  <ul class="layout-grid main-layout">
    @for (layout of layoutTypes; track layout.value) {
      <li 
      [class.active]="layoutService.config.settings.layout_type == layout.value"
      [attr.data-attr]="layout.value"
      (click)="handleLayoutType(layout.value)"
      [ngClass]="layout.class"
    >
      <div class="bg-light header">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="body">
        <ul>
          <li
            *ngIf="layout.value !== 'rtl'; else rtlSidebar"
            class="bg-light sidebar"
          ></li>
          <li class="bg-light body">
            <span class="badge badge-primary">{{ layout.label }}</span>
          </li>
          <ng-template #rtlSidebar>
            <li class="bg-light body">
              <span class="badge badge-primary">{{ layout.label }}</span>
            </li>
            <li class="bg-light sidebar"></li>
          </ng-template>
        </ul>
      </div>
    </li>
    }
  
  </ul>
  <h6>Unlimited Color</h6>
  <ul class="layout-grid unlimited-color-layout">
    <input
      id="ColorPicker1"
      name="Background"
      type="color"
      [(ngModel)]="primary"
    />
    <input
      id="ColorPicker2"
      name="Background"
      type="color"
      [(ngModel)]="secondary"
    />
    <button
      class="color-apply-btn btn btn-primary text-white"
      type="button"
      (click)="applyColor()"
    >
      Apply
    </button>
  </ul>
  <h6>Sidebar Icon</h6>
  <ul class="layout-grid sidebar-setting">
    <li
      *ngFor="let iconOption of iconOptions"
      [ngClass]="{ active: icon == iconOption.value }"
      (click)="changeIcon(iconOption.value)"
    >
      <div class="bg-light header">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="bg-light body">
        <span class="badge badge-primary">{{ iconOption.label }}</span>
      </div>
    </li>
  </ul>
</div>